<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (extens.length > 0) { %>
                    <div class="grid">
                        <% for (let extension of extens) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= extension.name %> ==> <%= extension.action %> ( <%= extension.params %> )
                                    </h1>
                                    <h3 class="product__title">
                                        <%= extension.context %>
                                    </h3>
                                </header>
                                
                                <div class="card__actions">
                                    <a href="/asterisk/edit-extension/<%= extension.id %>?edit=true" class="btn">Edit</a>
                                    <form action="/asterisk/delete-extension" method="POST">
                                        <input type="hidden" value="<%= extension.id %>" name="extensionId">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No extensions Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>